.bg{
    background-image: url('../../images/moonDessert.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: white;
    padding: 200px 20px 0 20px;
}

/* .centered{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */