.bg{
    background-image: url('../../images/moonDessert.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: white;
    padding: 20px 20px 60px 20px;
}