.bg5{
    background-image: url('../../images/green_Pixels.jpg');
    background-size: cover!important;
    background-position: center!important;
    background-repeat: none!important;
    color: rgb(56, 56, 56);
    padding: 30% 20px 0px 20px;
    /* height: 100%; */
    /* padding: 100px 0 100px 0; */
}

.endOftheRoad{
    padding-bottom: 50px!important;

}