.bg6{
    background-image: url('../../images/PnkSky.png');
    background-size: cover!important;
    background-position: top!important;
    background-repeat: none!important;
    color: rgb(56, 56, 56);
    padding: 300px 20px 0px 20px;
}