.bg3{
    background-image: url('../../../images/canyon.png');
    background-size: cover!important;
    background-position: center;
    background-repeat: none;
    color: rgb(48, 48, 48);
    padding: 200px 20px 0px 20px;
}