.bgOpt{
    /* position: absolute; */
    background-image: url('../../images/dirt.jpg');
    /* background-size: cover!important; */
    background-position: center;
    background-repeat: none;
    color: rgb(255, 255, 255);
    padding: 35% 20px 25% 20px;
    /* background-color: rgb(89, 43, 15)!important; */
    /* height: 100%; */
    /* padding: 100px 0 100px 0; */
    z-index: 2000;
}