.bg9 {
    background-image: url('../../../images/welcome_bg2.png');
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    color: rgb(255, 255, 255);
    padding: 200px 20px 150px 20px;
}