.App {
  padding-top: 50px;
  z-index: -1000;
}

.Menu{
  background: url('../src/images/retroMenuBG.png') no-repeat!important;
  background-size: cover!important;
  background-position: bottom!important;
  z-index: -1000;
  padding-bottom: 300px;
}

.buttonW{
  width: 120px;
  height: 120px;
  margin: 5px;

  background-color: rgb(255, 196, 0)!important;
  
  color: black!important;
  font-size:5rem!important;

  border-radius: 50%!important;
  border-style: none!important;
}

.buttonW:hover{
  background-color: rgb(34, 33, 32)!important;
  color: rgb(255, 255, 255)!important;
  border-style: none!important;
  margin: 5px;
  border-radius: 50%!important;
}

.title{
  font-size: 9.5rem;
  line-height: 8rem; 
}

.space{
  padding: 100px 0 100px 0;
}

h1{
  font-size: 5.4rem!important;
  line-height: 4rem!important;
}

h2{
  font-size: 2rem!important;
  line-height: 2.55rem!important;
}

h3{
  font-size: 1.25rem!important;
  line-height: 30px!important;
  padding-bottom: 30px;
}

.height100{
  height: 100vh;
  min-height: 1100px;
}

.smallWidth{
  max-width: 100%;
}

.bgOpt2{
  background-image: url('./images/dirt.jpg');
  background-position: center;
  background-repeat: none;
  color: rgb(255, 255, 255);
  padding: 50px 0 100px 0;
  z-index: 2000;
}

a{
  color: rgb(255, 217, 0)!important;
}

.leftAlign{
  text-align: left!important;
  font-size: .85rem;
}
.clock{
  font-size: 2.25rem!important;
}